<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/users.css" rel="stylesheet">
    <%- include("../partials/links") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        localStorage.setItem("display","<%=display%>")
        console.log(localStorage.getItem("display"))
    </script>
    <%- include("../partials/adminNav") %>
</body>
</html>