body{
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg-website);

}
.audit-layout{
    display: flex;
    flex-direction: column;
    margin-left:var(--sidebar-width);
    margin-top:var(--topbar-height);
    width: 100% - var(--sidebar-width);
    height: 100vh;
    padding: 1rem;
    min-height: fit-content;

}
table{
    border-collapse: collapse;
    width: 100%;
}
.table-wrap{
    width: 98%;
    padding: var(--space-s);
    border-radius: 10px;

    box-shadow: var(--shadow-sm);
    background-color: var(--clr-bg-card);
}
thead{
    background-color: var(--clr-bg-subcard);
    
}
th:first-child{
    border-top-left-radius: 5px;
}
th:last-child{
    border-top-right-radius: 5px;

}
.item-head{
    text-align: left;
    padding: var(--space-s);
    font-family: var(--font-head)
}
tr{
    border-bottom: 1px solid var(--clr-border-light);
}
.item{
    font-family: var(--font-head);
    padding: var(--space-s);
      overflow-wrap: anywhere;
        word-break: break-all;
}