body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body::-webkit-scrollbar {
  display: none;
}
.login-box{
    background-color: var(--clr-bg-website);
    height: 100vh;
    width: 50%;
    box-shadow: var(--shadow-lg);
}
img{
    object-fit: cover;
    width: 50%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    box-shadow: var(--shadow-sm);
}
.wrapper{
    display: flex;
    border: 1px solid var(--clr-border-light);
    flex-direction: column;
    margin: auto;
    background-color: var(--clr-bg-card);
    padding: var(--space-4xl);
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    padding-bottom: var(--space-6xl);
    margin-top: 60px;
    width: 60%;

}
.head-1{
    font-family: var(--font-mainHead);
    font-size: var(--space-4xl);
}
.head-2{
    padding-top: var(--space-s);
    font-family: var(--font-head);
    font-weight: 500;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: var(--space-4xl);
    gap: var(--space-l);
}
.item{
        width: 100%;
}
label{
    font-family: var(--font-body);
    font-size: var(--space-m);
    color:var(--clr-txt-muted);
    padding-bottom: var(--space-s);
    position: relative;
    bottom: 5px;
}
.inpt{
    padding: var(--space-m);
    width: 90%;
    font-size: var(--space-m);
    border: 1px solid var(--clr-border-light);
    font-family: var(--font-body);
    font-weight: bold;
    border-radius: 5px;
}
.inpt:focus{
    outline: none;
}
.login-bt{
    width: 40%;
    margin-top: var(--space-m);
    padding: var(--space-m) var(--space-xl);
    border-radius: 5px;
    font-family: var(--font-head);
    font-size: var(--space-m);
    background-color: var(--clr-action);
    color: var(--clr-txt-inv);
    border: none;
    z-index: 1;
    position: relative;
    transition: 1s;
    cursor: pointer;
}
.login-bt::before{
    content: "";
    position: absolute;
    width: 0;
    height: 52px;
    top: 0;
    z-index: -1;
    transition: 0.5s;
    left: 0;
    border-radius: 5px;
    background-color: var(--clr-head);
}
.login-bt:hover::before{
    width: 100%;
}
